html,body,h4,button,span {font-family: "Source Sans Pro", sans-serif;}
       
body{
    background-color: rgba(235, 230, 230, 0.725); 
}

/* Ajuste de estilos para el menú lateral */
#sidebar {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0px; 
    width: 250px;
    background-color: white;
    padding-top: 50px;
    color: white;
    transition: 0.3s;
}

#sidebar a { 
    padding: 10px 50px;
    text-decoration: none;
    font-size: 15px;
    color: gray;
    display: block;
    transition: 0.3s;
}

#sidebar img {
    margin: 0;
    padding-bottom: 20px;
    width: 100%; /* Hace que la imagen ocupe el ancho completo del contenedor */
    display: block; /* Elimina espacios en blanco debajo de la imagen */
}

#sidebar a:hover {
    font-weight: bold;
    color: black
}

#content {
    transition: margin-left 0.3s;
    padding: 16px;
    margin-left: 250px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.filasHover:hover {
	cursor: pointer;
	background-color: rgba(191, 0, 255, 0.113)
}

td {
    font-size: small;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; 
}

.etiquetaRealizado{
    background-color: #6bb0e9;
    border-radius: 50px; 
    margin-right: 2px; 
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:white;
}
.etiquetaFacturado{
    background-color: #4fb8af;
    border-radius: 50px; 
    margin-right: 2px; 
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:white;
}
.etiquetaCobrado{
    background-color: #bdc254;
    border-radius: 50px; 
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    color:white;
}

.customLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.configCards{
    border-radius: 20px;
    width: 200px;
}

.configCards:hover {
	cursor: pointer;
	border-color: #9b55ff;
}

/* Estilo personalizado para el filtro a la izquierda */
.filter {
    margin-right: auto;
}

/* Estilo personalizado para los botones a la derecha */
.actionButtons {
    display: flex;
    align-items: center;
    margin-right: 0;
    justify-content: flex-end;
}

/* Estilo personalizado para los botones */
.roundedButton {
    border-radius: 50px; 
    margin-left: 10px; 
    background-color: #9b55ff;
    width:150px;
    color:white;
}

.roundedButtonNewTypeService {
    border-radius: 50px; 
    margin-left: 10px; 
    background-color: #9b55ff;
    width:60px;
    color:white;
}

.containerList{
    background-color: white;
    width:auto;
    height: auto;
    padding:5px;
    border-radius: 10px;
    margin-top: 10px;
}

fieldset.border {
    border-radius: 5px; /* Borde redondeado, ajusta según sea necesario */
    padding: 10px; /* Espaciado interno, ajusta según sea necesario */
    margin-bottom: 50px;
}

#error-message {
    color: red;
    background-color: rgba(255, 0, 0, 0.087);
    display: none;
    border-radius: 10px;
    margin-top: 10px;
    width: auto;
}

#textoBuscadoFilter{
    border-radius: 10px; 
    border: solid 1px;
    width:150px;
    padding: 3px;
    padding-left: 10px;
}

#estadoFilter{
    border-radius: 10px; 
    margin-left: 10px; 
    width:120px;
    padding: 5px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* 100% del viewport height */
   
  }

  /* Estilo de la imagen */
  .imagen {
    max-width: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
    max-height: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
  }

